
.movie__container_item{
    display: flex;
    flex-direction: column;
    width: 17.5em;
    height: 27em;
    cursor: pointer;
    column-gap: 1.25em;
    margin-top: 1em;
}
.movie__container_img{
    width: 17.5em;
    height: 23em;
    position: relative;
}
.movie__container_text{
    margin-top: 1em;
    font-size: 1.25em;
}
.movie__container_modal{
    display: none;
}
.movie__container_img:hover .movie__container_modal{
    display: block;
    color: white;
    background-color: rgba(33,33,33,0.8);
    width: 17.5em;
    height: 23em;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}