
.container{
    width: 100%;
    margin: 0 auto;
}
.main_container{
    max-width: 73.7em;
    min-height: calc(80vh - 7.5rem);
    width: 100%;
    margin: 0 auto;
}
.new_title{
    height: 1.2em;
    font-size: 1.5em;
    color:  rgba(51, 51, 51, 1);
    font-weight: 500;
}
.genres__container{
    margin: 2em 0 4.5em 0;
}

