.tabs_container {
    display: flex;
    column-gap: 1.5em;
    justify-content: center;
    margin: 2.75em 0 2em 0;

}
.tabs_container__link{
    font-size: 1.75em;
    font-weight: 700;
}
.tabs_container__link_active,
.tabs_container__link:hover{
    color: rgba(200, 20, 20, 1);
    border-bottom: 3px solid rgba(200, 20, 20, 1);
    padding-bottom: 0.3em;
}